.clr {
    clear: both;
}

#search-box {
    border: 1px black solid;
    width: 200px;
    height: 50px;
}

.link-container {
    float:right;
    margin:10px;
    font: 15px black arial, sans-serif;
}

.link-container a {
    text-decoration: none;
    color: black;
    margin:10px;
}

.link-container a:hover {
    text-decoration: underline;
}

.mainbody #top-sec, #bottom-sec{
    justify-content: center;
    display: flex;
}

.upperbody {
    margin-top: 100px;
}

#bottom-sec form{
    position: absolute;
    border: 1px grey solid;
    width: 650px;
    height: 50px;
    place-items: center;
    display: grid;
    text-indent: 10px;
    border-radius: 30px;
    background-image: url(../images/searchicon.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 25px;
    background-position-x:10px;
}

.search-input {
    height: 45px;
    width: 575px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-indent: 5px;
}

#bottom-sec form:hover {
    box-shadow: 0px 0px 10px -4px #000000;
    width: 655px;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-container input {
    width: 150px;
    height: 30px;
    margin: 0 10px;
    font: 15px 'open sans', sans-serif;
}



