#googlesearch {
    font-size: 35px Arial, Helvetica, sans-serif;
    text-indent: 20px;
    width: 200px;
    padding: 1em;
    border: 1px black solid;
    border-radius: 100px;
    outline: none; 
}

.clr {
    clear: both;
}
 
.button {
    width: 20px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px grey solid;
    width: 200px;
}

.buttoncontainer {
    float: right;
    flex-wrap: wrap;
    margin: 5px;
}
.button:hover{
    background-color: rgb(211, 208, 208);

}

.searchcontainer {
    top: 300px;

}

#googleimage {
    width: 100px;
    top: 200px;
    right: 20%;
    align-content: center;
    display: flex;
}